.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-button {
    background-color: #1976d2;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #1565c0;
}

.item h3 {
    font-size: 14px;
    color: #757575; /* Серый цвет для email */
    margin: 5px 0 0; /* Отступ сверху */
}

.items-list {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.item:last-child {
    border-bottom: none;
}

.item-link {
    color: #1976d2;
    text-decoration: none;
    flex-grow: 1;
}

.item-link:hover {
    text-decoration: underline;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #d32f2f;
}

/* Стили для спиннера */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Полная высота экрана */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Прозрачная граница */
    border-left-color: #36d7b7; /* Цвет спиннера */
    border-radius: 50%; /* Круглая форма */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Анимация вращения */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffebee;
    border-radius: 4px;
    text-align: center;
}

.error-message {
    color: #f44336; /* Красный цвет текста */
    font-size: 50px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #f44336;
    background-color: #ffebee;
    border-radius: 4px;
}

.retry-button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.error-message {
    color: #f44336; /* Красный цвет текста */
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #f44336;
    background-color: #ffebee;
    border-radius: 4px;
}

.empty-message {
    text-align: center;
    padding: 20px;
    color: #757575;
}

.unsigned-button{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}